/* Učiti CSS s *link* */


/* CSS selektori */


/* selektor elementa */
body{
    /* *link dokumentacije* */
    background-color: #ff0;
}

p{
    font-family: sans-serif;
    border: 1px dotted red;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    text-indent: 20px;
}

/* selektor klase */
.crvena-pozadina{
    background-color: red;
    color: white;
}