/* Učiti CSS s https://developer.mozilla.org/en-US/docs/Web/CSS*/


/* CSS selektori */


/* selektro elementa */
body{
    /*https://color.adobe.com/create/color-wheel*/
    background-color: #ff0;
}

p{
    font-family: sans-serif;
    border: 1px dotted red;
    margin: 10px;
    padding: 10px;
    font-size: 2rem;
    text-indent: 20px;
}

/* selektor klase */
.crvena-pozadina{
    background-color: red;
    color: white;
}

/* selektor identifikacije */
#link{
    text-decoration: none;
    color: black;
}